body{
  background: lightgrey;
}
#heading{
  position: relative;
  text-align: center;
}

#main{
  margin-left: 30%;
  position: relative;
  width:15%;
  clear:both;
}

#si_logo{
  display: inline-block;
  position: absolute;
  right:30%;
  top:15%;
  clear:both;
}
.fields{
  margin-top: 2%;
}
#tarea,#section{
  position: relative;
  width:21%;
  margin-left: 20%;
  clear:both;
}

#logout{
  position: absolute;
  width:10%;
  right:2%;
}
#error{
  color: red;
  font-size: 2vmin;
}
